* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 16px 0 16px;
    margin-bottom: 56px;
    background-color: rgb(0, 119, 255);
    border-bottom: 2px solid rgb(0, 68, 255);
    color: #fff;
}

header a {
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

.conteudo article {
    display: flex;
}

.conteudo img {
    max-width: 100%;
}

.texto {
    padding-left: 3em;
}

.texto h2 {
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(0, 119, 255);
}

.texto p {
    margin-top: 2.5em;
}